PTZControl/.vs
Release
Debug
Save
x64
PTZControl/PTZControl.vcxproj.filters
PTZControl/PTZControl.vcxproj.user
PTZControl/PTZControlDEU.docx
PTZControl/PTZControl.exe
PTZControl/PTZControl.aps
*.docx
*.bak
.vs
obj
bin
*.user
